body{
    background-color: rgba(41, 119, 245, 0.07);
}
div#container{
    font-size:37px;
    display: flex;
    font-family: 'Roboto', sans-serif;
}
div#goel{
    display: flex;
    color: #2977F5;
    margin-left: 10px;
}
div#leftside{
    font-size:17px;
    margin-left: 64%;
    margin-top: 17px;
    font-family: 'Roboto', sans-serif;
}
div#work{
    margin-right: 15px;
    float: left;
}
img#img{
    width: 23px;
    height: 23px;
}
div#middle{
    background: #D8E4FA;
    width: 80%;
    margin:10%;
    font-size: 57px;
    font-family: "inter";
    margin-bottom:0px;
}
div#hello{
    color: #2977F5;
    margin-left: 10%;
}
div#middletext{
    margin-left: 10%;
    width: 555px;
    display: inline-flex;
    margin-bottom:10px;
}
button#button{
    background-color:#2977F5;
    margin-left: 10%;
    border:none;
    color: #fff;
    width: 152px;
    height: 52px;
    margin-bottom:25px;
    margin-top:0px;
    cursor:pointer;
}
div#middlemiddle{
    margin-top:10px;
}
div#help{
    margin-left:10%;
    color: #555555;
    font-size: 18px;
    font-family:"roboto",sans-serif;
    margin-right:212px;
    float: left;
}
p#contact{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color:#555555;
    margin-top:0px;
}
div#email{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    display: flex;
    color: #000000;
    margin-top:26px;
    margin-left:10%;
    cursor: pointer;
    float:left;
}
div#no{
    display: flex;
    float: left;
    margin-top:26px;
    margin-left:87px;
    font-family:"roboto", sans-serif;
}
div#contentholder{
    margin-left:8%;
    box-shadow: #555555;
    display:flex;
    margin-top:100px;
}
div#content{
    padding-top:10px;
    margin-left:10px;
    background-color: #fff;
    height:auto;
    width: 251px;
    border-radius:9px;
}
img#image{
    display: flex;
    background-color: #fff;
    padding-bottom:10px;
    margin-left:20px;
    
}
p#content{
    font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 21px;
display: flex;
align-items: center;
margin-left:20px;
}
p#contentholder{
    font-family:"IBM Plex Sans";
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.04em;
width:60%;
color: #989696;
margin-left:20px;
}
div#socialmedia{
    float:right;
    margin-right:10%;
}
img#photo{
    cursor: pointer;
}
div#newsletter{
    background-color:#D8E4FA;
    margin:10%;
    margin-top:5%;
    height:150px;
    align-items: center;
    margin-bottom:0px;
}
div#subscribe{
    align-self: center;
    text-align: center;
    font-family:"roboto";
    font-size: 30px;
}
div#subscription{
    background-color: #fff;
    width: 40%;
    text-align:center;
    align-self: center;
    margin-left:300px;
    margin-top:25px;
}
button#subscribe{
    background-color:#2977F5;
    border: none;
    width: 100px;
    height: 40px;
    color:white;
    margin:5px;
    margin-left: 15px;
    cursor: pointer;
}
p#made{
    text-align: center;
    font-size: 21px;
    font-family: "Roboto";
}